<div id="tabs" class="tabs_box_request">
  <ul class="height_adjust">
    <li><a href="#tabs-1">Current Reservations</a></li>
    <li><a href="#tabs-2">Pending Reservations: <%= @pending_reservations.count %></a></li>
    <li><a href="#tabs-3">Denied Reervations</a></li>
  </ul>


